.create-ad-cont {
    margin-top: 5vh;
    padding-bottom: 10%;
}
.input-field-cont {
    height: 75vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.create-btn-cont {
    margin-top: 15px;
    text-align: right;
}
.another-input-cont {
    width: 80%;
}
.title-cont,
.price-cont,
.description-cont {
    margin: 5vh 0;
}
.title-cont {
    margin-top: 1vh;
}
.categories-select {
    width: 73vw;
}